<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="header.html"></div>
<head>
    <title>Codecool shop</title>
    <script src="/static/js/addToCart.js" defer></script>
</head>

<body>
<div id="filter-card">
    <form action="/" method="get">
        <h5>Categories: </h5>
        <div th:each="category, iterStat : ${allCategory}">
            <input type="checkbox" th:name="${category.name}" th:value="${category.id}" th:text=" ${category.name}"><br>
        </div>
        <br>
        <h5>Suppliers: </h5>
        <div th:each="supplier, iterStat : ${allSupplier}">
            <input type="checkbox" th:name="${supplier.name}" th:value="${supplier.id}" th:text=" ${supplier.name}"><br>
        </div>
        <div style="text-align: center">
            <br><input class="btn btn-secondary" type="submit" value="Filter">
        </div>
    </form>
</div>

<div class="container-card card">
    <div class="header-card card">
        <strong>
            <span th:switch="${categories}">
                <span th:case="''">All Products</span>
                <span th:case="'Empty'"></span>
                <span th:case="'No'">No Item Found For That Filter</span>
                <span th:case="'Not Found'">No Item Found For That Filter</span>
                <span th:case="*" th:text="'Categories: '+ ${categories}"></span>
            </span>
            <span th:switch="${suppliers}">
                <span th:case="''"></span>
                <span th:case="'No'">No Item Found For That Filter</span>
                <span th:case="*" th:utext="'&lt;br /&gt;' + 'Suppliers: '+ ${suppliers}"></span>
            </span>
        </strong>
    </div>

    <div id="products card">
        <div class="product" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="product-image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                <div class="product-title">
                    <h4 th:text="${prod.supplierName} + ' ' +${prod.name}">Product name</h4>
                </div>
                <div class="product-description">
                    <p th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <button th:data-id="${prod.id}" class="btn btn-success add-button">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>