<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="header.html"></div>
<head>
    <title>Payment</title>
    <script src="/static/js/payment.js" defer></script>
</head>
<body>
<div class="card-at-the-center">
    <div>
        <img width="24%" height="17%" id="paypal" src="/static/img/paypalicon.png" alt="paypay">
        <img width="24%" height="17%" id="credit-card" src="/static/img/creditcardicon.png" alt="credit card">
    </div>
    <div id="payment-container"></div>
    <div>
        <p id="total-price" th:text="'Total value: ' + ${#numbers.formatDecimal(totalPrice, 2, 2)} + ' $'"></p>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>
