<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="header.html"></div>
<head>
    <title>User Login</title>
    <script src="/static/js/registration.js" defer></script>
</head>

<body>
<div class="container-card">
    <div class="card-at-the-center">
        <form action="/login" method="post">
            <h1 style="margin-top: 1em;">Fill out this form to Log In!</h1>
            <label for="username">Enter your Username:</label>
            <input type="text" id="username" name="username" placeholder="EdwardRogers11" required><br><br>

            <label for="password">Enter your Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <label for="password">Enter your Password again:</label>
            <input type="password" id="passwordVer" name="passwordVer" required><br><br>

            <button id="LoginButton" type="submit">Log In!</button>
        </form>

        <div th:switch="${passwordAreMatching}">
            <span th:case="false">Incorrect username or password</span>
            <span th:case="true"></span>
        </div>
    </div>
</div>
</body>
</html>